PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="delivery_tracker_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"

# Optional Email integration with Resend
RESEND_API_KEY=""
EMAIL_FROM="deliveries@tracker.com"
